.folders {
	margin-left:10px;
}

.folders, #template {
	list-style-type:none;
}

#template {
	padding:10px 0;
}

#template > li  {
	position:relative;
	background-color:white;
	border-bottom:1px solid black;
	/*padding:4px 10px 10px 10px;*/
}

#template > li:nth-child(1){
	border-top:1px solid black;
}

#template > li > ul {
	position:absolute;
	top:4px;
	right:4px;
}

#template > li > ul > li {
	display:inline-block;
	height:16px;
	width:16px;
	background-color:white;
	margin-left:4px;
	background-repeat:no-repeat;
	border-radius:3px;
}

#template > li > ul > li:hover{
	background-color:yellow;
	cursor:pointer;
}

.tmplt-forum-container{
	padding-bottom:10px;
}

.tmplt-forum-container h5 {
	padding:4px 0 5px 10px;
}

.tmplt-forum-container textarea, .tmplt-forum-container input {
	margin:0 0 0 10px;
	border:1px solid black;
	border-radius:3px;
	font-size:1.3em;
	padding:3px;
}

.tmplt-forum-container textarea{
	width:75%;
	height:155px;
}

.tmplt-forum-container input{
	width:75%;
}

.tmplt-forum-container .button-list{
	margin-top:10px;
}

.tmplt-forum-container img{
	height:100px;
	margin:10px 0 0 10px;
	display:block;
	border:4px solid black;
}

.tmplt-forum-container iframe{
	margin:10px 0 0 10px;
	display:block;
}

.up-arrow {
	background-image:url('../style/resources/arrow_top.png');
}

.down-arrow {
	background-image:url('../style/resources/arrow_down.png');
}

.remove-item {
	background-image:url('../style/resources/action_delete.png');
}

section[data-tab='pictures'] form {
	margin:10px;
}

section[data-tab='template'] > ul:first-child{
	margin-top:10px;
}

section[data-tab='preview']{
	background-color:white;
	padding:0 1em 0 1em;
}

section[data-tab='preview'] ul.button-list {
	margin:10px 0;
}

section[data-tab='preview'], section[data-tab='analytics']{
	border-left:none;
	border-right:none;
	border-bottom:none;
}

section[data-tab='analytics']{
	background-color:white;
}

section[data-tab='posts'] > ul.inline-list, section[data-tab='analytics'] > ul.inline-list {
	margin:10px;
}

section[data-tab='posts'] > ul.button-list {
	margin-left:10px;
}

section[data-tab='analytics'] div.left{
	width:25%;
}

section[data-tab='analytics'] div.left > ul.multi-replace {
	width:100%;
	min-height:100%;
	max-height:500px;
	margin:0;
}

#views-graph{
	height:400px;
	max-width:95%;
	margin:auto;
}

section[data-tab='analytics'] div.right{
	width:75%;

}

section[data-tab='analytics'] > div{
	float:left;
	min-height:300px;
	
}

ul.form-list > li {
	margin-right:10px;	
}

ul.form-list > li > span {
    font-size: 1.1em;
   
}

ul.form-list > li > input[type='radio'] {
    left: 3px;
    position: relative;
    top: 2px;
}

ul.form-list > li > input[type='text'] {
    left: 3px;
    position: relative;
    top: -1px;
}

.save-preview-popup{
	/*width:400px;*/
	max-height:70%;
	overflow-y:auto;
	overflow-x:none;
	min-width:500px;
	padding-bottom:10px;
}

.save-preview-popup > .folders{
	margin-top:10px;
	margin-left:0;
}

.manage-table {
	width:100%;
	border-collapse:collapse;
}

.manage-table tr td{
	text-align: center;
	vertical-align: top;
	padding:0.5em 0;	
}

section > table.manage-table {
	margin-top:0.5rem;
}

.manage-table input, .manage-table textarea{
	width:96%;
}

.manage-table textarea{
	min-height:100px;
}

td.date {
	font-size:0.75em;
	text-align:center;
}

.manage-table td img{
	margin-right:3px;
}

.manage-table thead{
	
	color:blue;
}

.manage-table tbody tr:nth-child(odd){
	background-color:white;
}

.manage-table tbody tr:hover{
	background-color:yellow;
}

.list-nav, .inline-list{
	list-style-type:none;
}

.list-nav li, .inline-list li{
	display:inline-block;
}

.list-nav li{
	
	margin-left:10px;
	font-size:1.5em;
	color:blue;
}

.list-nav li:hover{
	cursor:pointer;
	color:green;
}

/*for multi select*/
select[multiple]{
	display:none;	
}

td ul.multi-replace{
	margin:auto;
}

ul.multi-replace{
	max-height:100px;
	width:200px;
	overflow-y:auto;
	border:1px solid black;
	margin-top:15px;
} 
   
ul.multi-replace{
	list-style-type:none;
}

ul.multi-replace > li{
	border-top:1px solid black;
	text-align:center;
	padding:2px 0;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

ul.multi-replace > li:first-child{
	border-top:none;
}
   
ul.multi-replace > li.selected-multi{
	background-color:green;
}

ul.multi-replace > li:hover{
	cursor:pointer;
}

/*resources manager*/
li.add-folder-li {
	padding:3px 0 4px 0;
}

li.add-folder-li *{
	vertical-align: middle;
}

li.add-folder-li img{
	margin-right:4px;
}

/* code for pop up boxes */
.backshade{
	position:fixed;
	height:100%;
	width:100%;
	top:0;
	left:0;
	background-color:rgba(0,0,0,0.5);
}

.backshade > div{
	background-color:white;
	position:fixed;
	top:50%;
	left:50%;
	z-index:9000;
	border:1px solid black;
	border-radius:5px;
	padding:0 10px 10px 10px;
	max-width:400px;
}

.backshade > div > p{
 	font-size:1.5em;
 	text-align:center;
}

.backshade > div > img{
	display:block;
	margin:0 auto 0 auto;
}

.backshade > div > ul{
	list-style-type:none;
	text-align:center;
	margin-top:10px;
}

.backshade > div > ul > li{
	display:inline-block;
	padding:5px 10px;
	border:1px solid black;
	border-radius:5px;
	font-size:1.1em;
}

.backshade > div > ul > li:hover{
	cursor:pointer;
}

.backshade > div > ul > li:nth-child(1){
	margin-left:0px;
}

.backshade > div > ul > li:nth-child(2){
	margin-left:40px;
}