
body {

}
 

ul.tab-top{
	list-style-type:none;
	margin:10px 0 0 0;
	padding:5px;
}

ul.tab-top > li{
	display:inline;
	padding:5px;
	background-color:lightblue;
	border-top:1px solid black;
	border-left:1px solid black;
	border-right:1px solid black;
	border-bottom:1px solid black;
}

ul.tab-top > li:hover{
	cursor:pointer;
}

section[data-tab]{
	min-height:300px;
	border:1px solid black;
	display:none;
	background-color:lightblue;
	padding-bottom:10px;
}

section[data-tab],li[data-tab]{
	border-style:solid;
	border-width:1px;
	border-color:black;
	background-color:lightblue;
}  
  
section[data-tab]{
	display:none;
}
  
li[data-tab]{
	display:inline-block;
	margin-bottom:-1px;
	padding:2px 4px;
	border-radius:4px 4px 0 0;
}

li[data-tab].selected{
	border-bottom-color:lightblue;
}

section[data-tab].selected{
	display:block;
}
 
